.token {

    width: 300px;
    box-shadow: 0 8px 16px rgba(5, 5, 5, 0.3);
    padding: 2px;
    margin: 16px;
    border-radius: 8px;
}

img {

    border: .3px rgba(0, 0, 0, 0);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top: 10px;

}

li {
    display: block;
}

ul, li {list-style-type: none;}

li {padding-left: 2em; text-indent: -2em;}